asgiref
autopep8
Django
pycodestyle
sqlparse
toml
psycopg2-binary
djangorestframework
pip
pytz
setuptools
autopep8
django-cors-headers
coreapi
prometheus-client==0.19.0
django-loki

# Testing
pytest==7.2.2
pytest-sugar==0.9.6
pytest-django==4.5.2
Faker==18.3.4